@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: "Josefin Sans", sans-serif;
}
.main{
    top: 0%;
    width: 100%;
    height: auto;
    padding: 20px;
    position: fixed;
    background-color: #252525;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    z-index: 10;
}
.app-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 120px;
    height: auto;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    background-color: gainsboro;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.app-img{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
    height: 100px;
    width: 100px;
    position: relative;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
button{
    background-color: white;
    font-weight: bold;
    font-size: larger;
    border: none;
    font-family: "Josefin Sans", sans-serif;
}