@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: "Josefin Sans", sans-serif;
    overflow: hidden;
}
.main{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    padding-top: 12px;
    position: relative;
    background-color: #252525;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 100;
    border-radius: 15px;
}
.app-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 120px;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: gainsboro;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    cursor: pointer;
}
.app-img{
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: white;
    height: 120px;
    width: 120px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
a {
    padding: 10px;
    border-radius: 11px;
    border: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
button{
    background-color: white;
    font-weight: bold;
    font-size: larger;
    border: none;
    font-family: "Josefin Sans", sans-serif;
}
.last{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    padding-top: 12px;
    text-align: center;
    position: relative;
    background-color: #252525;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 100;
    border-radius: 15px;
}